.page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url(../../../public/images/banner3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page h4 {
  font-size: 2rem;
}
.page > h4 {
  text-align: center;
  padding: 80px;
}
.page-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 80px;
}
.page-footer_para {
  font-size: 1.3rem;
}
.page-footer_btn {
  text-align: center;
  display: block;
  text-decoration: none;
  padding: 8px 20px;
  background-color: #fff;
  color: var(--color-pri);
  border: 2px solid var(--color-pri);
  border-radius: 5px;
  font-size: 20px;
  font-family: "Bree Serif", serif;
  transition: all ease 0.5s;
  white-space: nowrap;
}
.page-footer_btn:hover {
  background-color: var(--color-pri);
  color: var(--color-white);
}

/* banner ends here */

.page-center {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
}

.page-logo {
  padding-top: 80px;
  padding-bottom: 40px;
}

/* Contact Section */

.contact-details {
  width: 80vw;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
.contact-cart {
  text-align: center;
  background-color: #eaeaea;
  color: #4eae3a;
  border-radius: 10px;
  border-top: 5px solid #4eae3a;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
  padding: 16px 24px;
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  cursor: pointer;
}
.contact-cart:hover {
  box-shadow: var(--dark-shadow);
}
.contact-cart svg {
  width: 28px;
}

/* Contact Form */
.contact-forms {
  width: 100%;
}
.contact-forms input {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 50%);
  border: none;
  border-bottom: 3px solid #4eae3a;
  color: #666;
}

.contact-forms div {
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
.contact-forms button {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 50%);
  border: none;
  border-bottom: 3px solid #4eae3a;
  color: #666;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.contact-forms button:hover {
  box-shadow: none;
}

@media screen and (max-width: 715px) {
  .page-footer {
    flex-direction: column;
  }
  .page-footer_heading {
    text-align: center;
  }
  .page-footer_para {
    text-align: justify;
  }
  .contact-details {
    flex-direction: column;
    gap: 20px;
  }
  .contact-cart {
    width: 300px;
    height: 200px;
  }
  
.contact-forms div {
  width: 80vw;
  flex-direction: column;
  gap: 20px;
}
}
